---
import BaseLayout from "../../layouts/Base.astro";
import { getCollection, render } from "astro:content";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
	const posts = await getCollection("blog");
	// Not sure how we're going to render the links to the next and previous posts
	// can do some magic here, instead of just mapping, to get the next and previous ones and pass them as props
	return posts.map((post, idx) => ({
		params: { id: post.id },
		props: { post, prevPost: posts[idx - 1], nextPost: posts[idx + 1] },
	}));
}

// 2. For your template, you can get the entry directly from the prop
const { post, prevPost, nextPost } = Astro.props;
const { Content } = await render(post);

const d = new Date(post.data.date);

const date = d.toLocaleString("en-CA", {
	month: "long",
	year: "numeric",
	day: "numeric",
	timeZone: "UTC",
});
---

<BaseLayout>
	<div class="m-4 border border-gray-400 p-2 shadow-md lg:m-0 lg:p-4">
		<article>
			<header class="my-4 py-2 text-center">
				<h2
					class="border-sage mx-auto mb-2 border-b-4 px-6 text-xl lg:w-max lg:text-2xl"
				>
					{post.data.title}
				</h2>
				<small class="text-base italic">
					Published on {date}
				</small>
				<nav>
					<a
						href=`/blog/${prevPost.id}`
						class="text-gray-500 hover:text-gray-700"
					>
						{prevPost.data.title}
					</a>
					<a
						href=`/blog/${nextPost.id}`
						class="text-gray-500 hover:text-gray-700"
					>
						{nextPost.data.title}
					</a>
				</nav>
				<div class="prose prose-sky lg:prose-lg mx-auto text-justify">
					<Content />
				</div>
			</header>
		</article>
	</div>
</BaseLayout>
